# Исключаем Python-кэш и артефакты
__pycache__/
*.pyc
*.pyo
*.pyd

# Исключаем виртуальное окружение
env/
venv/
.venv/

# Исключаем файлы конфигурации окружения (если не нужно передавать внутрь контейнера)
.env
.venv

# Исключаем файлы IDE и редакторов кода
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.emacs

# Исключаем временные файлы
*.tmp
*.log
*.bak
*.swp
*.swo

# Исключаем базы данных SQLite и временные файлы
*.sqlite
*.db

# Исключаем системные файлы macOS и Windows
.DS_Store
Thumbs.db

# Исключаем Docker-файлы (если они не должны быть в контейнере)
.dockerignore
docker-compose.override.yml

# Исключаем файлы версионного контроля
.git/
.gitignore
versions/

# Исключаем PostgreSQL и другие данные БД (если база не должна быть в контейнере)
pg_data/
pg_dump.sql  # Если у тебя есть дампы базы, можно их тоже исключить

# Исключаем логи и кеши проекта
logs/
*.log
cache/
