# .env files
.env

# Environment directories
env/
venv/

# Temporary files
*.tmp
*.log

# SQLite database files
*.sqlite

# IDE/editor files
.vscode/
.idea/

# macOS system files
.DS_Store

# Python cache files
__pycache__/

# Versioning directories
versions/

# Localization files
locales/
